.popup {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 50px;
  background: #eee;
  padding: 15px;
  border-style: dashed;
  border-radius: 10px;
  border-width: 2px;
  border-color: #666;
}
.map {
  position: relative;
}
