.button {
  margin: 5px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.button:hover {
  background-color: #bbb;
}

.button:active {
  background-color: #bbb;
  box-shadow: 0 5px transparent;
  transform: translateY(4px);
}
